.nav-bar {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 5rem auto;
    height: 8vh;
    -webkit-app-region: drag;
    center {
        overflow: scroll;
        white-space: nowrap;
        -webkit-app-region: drag;
        align-self: center;
        * {
            -webkit-app-region: no-drag;
        }
        &::-webkit-scrollbar {
            width: 0rem;
            height: 0rem;
        }
        &::-webkit-scrollbar-track {
            background: transparent !important;
            border: none;
            &:hover {
                background: transparent !important;
                border-radius: 0rem;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: transparent !important;
            border-radius: 0rem;
            &:hover {
                background: transparent !important;
            }
        }
        & a {
            color: @accent-secondary;
            overflow: scroll;
            text-orientation: sideways;
            white-space: nowrap;
            &:hover {
                text-decoration: none;
                color: @accent-primary;
            }
        }
        & .router-link-active {
            color: @accent-primary;
        }
        & .currentCategory {
            color: @accent-primary;
        }
    }
}